/* ======== HEADER ======== */

header {
	margin: 0;
	padding: 2em 0;
}


.ws-logo {
	margin: 0;
	padding: 0;
	text-align: center;

	@include bp-medium {
		text-align: left;
	}
}


.ws-logo a {
	display: block;
}



/* ======== SECTIONS ======== */

.subscribe-content {
	margin: 0;
	padding: 2em 0;

	@include bp-small {
		padding: 4em 0;
	}
}


.subscribe-content:nth-child(even) {
	background-color: $offwhite-color;
}



/* ======== SOCIAL ICON & BUTTON FLEX CONTAINERS ======== */

.flex-icon-container {
	margin: 1em 0 0;
	padding: 0;
	display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;

    @include bp-small {
    	margin-top: 5%;
    }
}


.flex-icon-item {
	margin: 0 0.32em 0.32em 0;
	padding: 0;
	flex-grow: 1;
	align-self: center;
	@include font-size(22px);
    width: calc(25% - 0.64em);
}


.flex-icon-item a {
	padding: 0.32em;
    text-align: center;
    display: block;
	background-color: rgba($white-color, 0.42);
    color: $black-color;
    text-decoration: none;

    @include bp-small {
		background-color: rgba($white-color, 0.16);
	}

    &:active,
    &:focus,
    &:visited {
        color: $black-color;
        text-decoration: none;
    }

    &:hover {
        color: $red-color;
        text-decoration: none;
        background-color: rgba($white-color, 0.42);
    }
}


.flex-icon-item:last-of-type {
	margin-right: 0;
}


.flex-icon-item a i.fa {
    @include font-size(44px);
    margin-right: 0;
    vertical-align: middle;

    @include bp-small {
    	@include font-size(34px);
    	margin-right: 0.24em;
    }
}


.flex-button-container {
	margin: 1em 0 0;
	padding: 0;
	display: flex;
	flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;

    @include bp-small {
    	flex-flow: row wrap;
    	margin-top: 1.32em;
    }

    @include bp-medium {
    	flex-flow: row wrap;
    	margin-top: 1.36em;
    }

    @include bp-large {
    	flex-flow: row wrap;
    	margin-top: 2em;
    }
}


.flex-button-item {
	flex-grow: 1;
	align-self: center;
    width: 100%;
    padding: 0;
    margin: 0 0 0.56em 0;

    @include bp-small {
        width: calc(33% - 1.12em);
        margin-right: 0.56em;
    }
}


.flex-button-item:last-of-type {
	margin-right: 0;
}


.subscribe-button {
	display: block;
    border-radius: 4px;
    color: $offwhite-color;
    background-color: $red-color;
    box-shadow: 0 2px 0 darken($red-color, 16%);
    margin: 0;
    padding: 0.42em;
    @include font-size(23px);
    font-weight: 600;
    line-height: 1.2;
    text-shadow: 0 1px 0 darken($red-color, 16%);
    text-align: center;

	@include bp-large {
		@include font-size(28px);
	}

    &:active,
    &:focus,
    &:visited {
        color: $offwhite-color;
	    background-color: $red-color;
	    box-shadow: 0 2px 0 darken($red-color, 16%);
    }

    &:hover {
        color: $white-color;
	    background-color: darken($red-color, 10%);
	    box-shadow: 0 2px 0 $black-color;
    }
}



/* ======== COMPONENTS ======== */

.notification-banner {
	margin: 0;
	padding: 0.64em 0;
	@extend .text-shadow;
	@include font-size(44px);
	font-weight: 700;
	text-align: center;
	background-color: $red-color;
	color: $offwhite-color;
}


.subscribe-content-figure {
	text-align: center;
	margin: 0 0 1em 0;
	padding: 0;
}


.cover-image img {
	max-width: 264px;
	@extend .box-shadow;
}


.event-dates {
	padding: 0 0 0 1.32em;
	margin: 0;
	list-style-type: circle;
	@include bp-medium {
		padding-left: 2.32em;
	}

	li {
		margin-bottom: 0.32em;
	}
}



/* ======== FOOTER ======== */

footer {
	background-color: $offwhite-color;
	padding: 2em 0;
	margin: 0;

	@include bp-small {
		padding: 4em 0;
	}

}


.footer-links {
	list-style: none;
	margin: 0 0 1em 0;
	padding: 0;
}


.back-top {
	@include font-size(19.8px);
}