/* ==================================== VARIABLES ==================================== */

/* ================ COLORS ================ */
$white-color: #fff;
$offwhite-color: #ebeae5;
$gray-color: #ccc;
$black-color: #161616;

$beige-color: #d9d7ce;
$red-color: #ab0100;

$primary-color: $beige-color;
$secondary-color: $red-color;
$border-color: rgba($secondary-color, 0.4);


/* ================ SIZES ================ */
$base-font-size: 16px;